.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 50%;
  position: absolute;
  left: 30%;
  top: 26%;
  row-gap: 10px;
  border-radius: 10px;
}
.login > input {
  text-indent: 8px;
  border-radius: 5px;
  height: 10%;
}
.login > button {
  text-indent: 8px;
  border-radius: 5px;
  height: 12%;
  background-color: lightgreen;
  color: black;

  margin-top: 10px;
}
.p1 {
  display: flex;
  font-size: small;
  margin-top: 10%;
  position: relative;
  top: 20px;
}

#bot {
  position: relative;
  bottom: 30px;
}
.p2 {
  display: flex;
  font-size: small;
  bottom: 10px;
  position: relative;
}
.login-h2 {
  position: relative;
  top: 50px;
  font-style: italic;
}
.img {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
  left: 15%;
  top: 250px;
  opacity: 80%;
}
.searchbar {
  display: flex;
  flex-direction: row;
  padding: 10px;
  column-gap: 10px;
}
.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sideheader {
  display: flex;
  align-items: center;
}
.sideheader > h2 {
  position: relative;
  left: 20px;
  top: 4px;
  color: lightgreen;
}
.sidecontent {
  position: relative;
  left: 20px;
  align-items: center;
  cursor: pointer;
}
.recipes {
  display: flex;
  justify-content: space-around;
  color: lightgreen;
  margin-top: 15%;
  height: fit-content;
  cursor: pointer;
}
.recipe-header {
  display: flex;
  justify-content: space-between;
}
.veg {
  text-align: center;
  align-items: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.vegbtn {
  text-align: center;
}
.mappded {
  color: aliceblue;
  background-color: black;
  width: fit-content;
  height: 600px;
  padding: 20px;
  border-radius: 10px;
  column-gap: 10px;
  row-gap: 10px;
  display: flex;
  flex-direction: column;
}
.last3 {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20px;
  padding-bottom: 10px;
  text-align: left;
  color: lightgreen;
  background-color: rgb(43, 43, 43);
  padding-left: 20px;
  border-radius: 10px;
}
.last3 > p {
  color: white;
}
.display-map {
  display: flex;
  column-gap: 30px;
  row-gap: 20px;
  position: absolute;
  top: 70px;
  left: 60px;
  flex-wrap: wrap;
}
